.header {
  z-index: 3;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.header.scrolled {
  padding: 18px 0;
  background-color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 2rem;
}

.header.scrolled .logo {
  color: #007bff;
}

.navbar__list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar__link {
  text-decoration: none;
  color: rgba(255, 255, 255);
  padding: 0 5px;
  line-height: 1.7;
  font-weight: 400;
  font-size: 1.05rem;
  opacity: 0.7;
  transition: opacity, color 0.4s;
}

.navbar__link.active {
  opacity: 1;
}

.navbar__link:hover {
  opacity: 1;
}

.header.scrolled .navbar__link {
  opacity: 1;
  color: black;
}

.header.scrolled .navbar__link:hover {
  color: #007bff;
}

.header.scrolled .navbar__link.active {
  color: #007bff;
}

/* гамбургер */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 5;
  margin-right: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  transition: all 0.3s ease;
}

.bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.bar2 {
  opacity: 0;
}
.bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* мобильное меню */
.mobileMenu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100%;
  background-color: white;
  transition: right 0.3s ease;
  z-index: 10;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.mobileMenu.open {
  right: 0;
}

.mobileMenu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mobileMenu__link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}

/* медиазапрос для показа гамбургера */
@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .hamburger {
    display: flex;
  }
  .header.scrolled {
    padding: 10px 0;
    background-color: #fff;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
}
